@import url(Font/visby-cufonfonts-webfont/style.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html{
    font-size: 16px;
    color: rgb(23, 0, 51);
    letter-spacing: 0%;
}

h1, h2, h3, h4{
    font-family: "Visby Heavy";
}

h1{
    font-size: 68px;
    line-height: 78px;
    margin-bottom: 15px;
}
h2{
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 20px;
}
h3{
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
}
h4{
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 10px;
}

p{
    font-family: "Poppins";
    line-height: 24px;
}

b{
    color: linear-gradient(90.00deg, rgb(138, 53, 242),rgb(188, 75, 223));
}

ul{
    display: flex;
}

section{
    margin-bottom: 120px;
}

.container{
    margin: auto;
    width: 1350px;
}

.slogan{
    font-family: "Visby Medium";
    color: transparent;    
	background-clip: text;
	background-image: linear-gradient(90.00deg, rgb(138, 53, 242),rgb(188, 75, 223));
    margin-bottom: 10px;
}

.btn{
    font-family: "Visby Medium";
    padding: 14px 30px;
    border: 2px solid rgb(138, 53, 242);
    border-radius: 28px;
    background-color: transparent;
}

.btn-active{
    background: linear-gradient(90.00deg, rgb(138, 53, 242),rgb(188, 75, 223));
    color: white;
}

.square-icon{
    padding: 22px;
    border-radius: 10px;
    background-color: linear-gradient(90.00deg, rgb(138, 53, 242),rgb(188, 75, 223));
}

.logo{
    font-family: "Visby Heavy";
    font-size: 42px;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: 0%;
}

.logo b{
    color: transparent;    
	background-clip: text;
	background-image: linear-gradient(90.00deg, rgb(138, 53, 242),rgb(188, 75, 223));
}

.header{
    background-image: url(img/bg.png);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-block{
    margin-top: 25px;
}

.nav-items{
    font-family: "Poppins";
    font-weight: 400;
    line-height: 24px;
    width: 416px;
    height: 100%;
    margin-right: 25px;
}

.acc-icon{
    padding: 14px;
    margin-right: 25px;
    border-radius: 28px;
    border: 2px solid rgb(138, 53, 242);
}